body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.picsum.photos/id/1064/3000/3000.jpg?hmac=42j2SeYqbK-QY8Ovto3FMP1doNcdnd7yOM9Hm9pHjnM");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#main {
  min-height: calc(100vh - 64px - 200px);
  margin-top: 50px;
}

#nav {
  background-color: #161616;
}

#nav a {
  color: white;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  line-height: 60px;
  margin-left: 20px;
}

#nav a:hover {
  text-decoration: underline;
}

#nav #logo {
  display: inline;
  width: 50px;
  padding: 5px;
}

#nav h1 {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  line-height: 15px;
  padding-left: 5px;
}

#home {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 5px;
  display: flexbox;
  margin: 0 auto;
  margin-bottom: 50px;
  min-width: 500px;
  max-width: 1000px;
}

#home h1 {
  margin-top: 0;
}

#profile-container {
  min-height: 100vh;
}

#profile {
  background-color: white;
  color: black;
  width: 500px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 30px;
}

#profile h1 {
  margin: 0;
}

#profile img {
  height: 150px;
  border: 2px solid #282C35;
  border-radius: 100%;
  background-color: white;
  display: block;
  margin: 0 auto;
}

#Credit {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 5px;
  display: flexbox;
  margin: 0 auto;
  margin-bottom: 50px;
  min-width: 500px;
  max-width: 1000px;
}

#Credit h1 {
  margin-top: 0;
}

#Debit {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 5px;
  display: flexbox;
  margin: 0 auto;
  margin-bottom: 50px;
  min-width: 500px;
  max-width: 1000px;
}

#Debit h1 {
  margin-top: 0;
}

#Login form {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 5px;
  display: flexbox;
  margin: 0 auto;
  width: 290px;
}

#Login form h4 {
  margin: 5px 0;
}

#Login form input {
  height: 30px;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px 0;
  width: 275px;
  padding: 0 5px;
  background-color: RGBA(126, 135, 155, 0.15);
  font-size: large;
}

#Login form input:focus {
  outline: none;
}

#Login form button {
  background-color: black;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#footer {
  min-height: 100px;
  background-color: #161616;
  margin-top: 50px;
  /* Footer height */
}

#footer img {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */